html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #111;
}

.VertDiv {
    display: flex;
    flex-direction: column;
}

.HorizDiv {
    display: flex;
    flex-direction: row;
}

#Header {
    display: flex;
    flex-direction: row;

    height: 70px;

    font-family: MoonBold;
    font-size: 40px;

    color: #EEE;

    background-color: red;
}

#Body {
    flex: 2;

    background: blue;
}

.RadioBox {
    display: flex;
    flex-direction: row;
}

.RadioBox .Button {
    display: flex;

    align-items:center;
    justify-content:center;

    width: 25px;
    height: 25px;

    background: none;
    border: 3px solid #000;

    box-sizing:border-box;

    border-radius: 100%;
}

.RadioBox .Button .Dot {
    width: 0%;
    height: 0%;
    
    opacity: 0.0;

    background-color: black;

    border-radius: 100%;
}

.RadioBox .Label {
    flex: 2;
}