html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #111;
}

.VertDiv {
    display: flex;
    flex-direction: column;
}

.HorizDiv {
    display: flex;
    flex-direction: row;
}

#Header {
    display: flex;
    flex-direction: row;

    height: 70px;

    font-family: Moon;
    font-size: 40px;

    color: #EEE;

    background-color: #333;
}

#Body {
    flex: 2;

    background: #222;
}