html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #111;
}

.VertDiv {
    display: flex;
    flex-direction: column;
}

.HorizDiv {
    display: flex;
    flex-direction: row;
}

#Header {
    display: flex;
    flex-direction: row;

    /*margin-left: -15px;
    margin-right: -15px;*/

    text-align: center;

    height: 70px;

    font-family: Moon;
    font-size: 40px;

    color: #EEE;

    background-color: #333;
}

#Logo {
    margin: auto;
}

#Body {
    flex: 2;

    background: #222;
}

.Percent {
    position: relative;
    min-width: 25px;

    padding: 2px;

    background-color: #999;
    color: #333;

    border-radius: 3px;
}

.Tally {
    display: inline-block;
    position: absolute;
    right: 10px;
    width: 100px;

    text-align: right;
}