.PollBox {
    background: white;
    margin: 10px;

    border-radius: 5px;

    padding: 5px;
}

.Question {
    font-family: MoonBold;
    font-size: 25px;

    margin-bottom: 10px;
}

.Answer {

}

.Answer:not(:last-child) {
    margin-bottom: 5px;
}

.RadioBox .Button {
    margin-right: 10px;
}